<manderlbot name="DTC" controler="dim">
	<dict host="localhost" port="2628" default="wn">
	</dict>

	<!--
	<server host="irc.openprojects.net" port="6667">
		<channel name="#manderlbot" botname="mdbis"
			behaviours="tictac foutaises prout hop google mute bloto">
		</channel>

		<channel name="#mdbtest" botname="manderlbot-devel"
			behaviours="ouca foutaises prout hop google dict jargon ">
		</channel>

		<channel name="#AAI" botname="lebeau"
			behaviours="helo ouca loutre chinois JCVD suceur branleur
			 sodom baise reunion boitacoucou coin plutot gl
			 tictac presse pmignaval rototo prout ranafout hop boulet
			 vendredi bonnasse bloto heidi shadok tusors bofh quake3">
		</channel>

		<channel name="#daPhoque" botname="lebeau"
			behaviours="helo ouca loutre chinois JCVD suceur branleur 
			 sodom baise reunion boitacoucou coin plutot gl 
			 tictac presse pmignaval rototo prout ranafout hop boulet 
			 vendredi bonnasse bloto heidi shadok tusors bofh google">
		</channel>

		<channel name="#GLI" botname="dtc"
			behaviours="helo ouca loutre chinois JCVD suceur branleur 
			 sodom baise reunion foutaises boitacoucou coin plutot gl 
			 tictac presse pmignaval rototo prout ranafout hop quake 
			 billard boulet vendredi bonnasse bloto pamie heidi shadok 
			 c++ tusors bofh nmibook dimbook quake3 zope seduire 
			 goudale camarche sanantonio openbsd google roulmain ">
		</channel>
	</server>
	-->

	<!--
	<server host="admprs.dev75.cvf" port="6667">
		<channel name="#cvf" botname="dtc"
			behaviours="helo ouca loutre chinois JCVD suceur branleur
			sodom baise reunion foutaises boitacoucou coin plutot gl
			tictac presse pmignaval rototo prout ranafout boulet
			bonnasse bloto heidi shadok tusors">
		</channel>
	</server>
	-->

	<server host="irc.tuxfamily.org" port="6667">
		<channel name="#manderlbot" botname="mdb"
			behaviours="ouca foutaises prout hop google mute pyramid">
		</channel>

		<!--
		<channel name="#tuxfamily" botname="lebeau"
			behaviours="google shadok boitacoucou prout boulet bofh">
		</channel>
		-->
	</server>


	<behaviours>
		<behaviour name="bloto" action="bloto"
		           pattern="(Help Desk|[Çç]a dérape|From scratch|[Cc]ompétences?|[Tt]ypologie|[Pp]otentialité|[Ff]onctionnel|[Pp]artenaire|[Tt]ransversal|[Pp]rocess|[Mm]anage?ment|LDAP|[Ff]aisabilité|[Cc]hef de [Pp]rojet|[Ll]eader|[Cc]rash|[Pp]rogramme|[Bb]ase|[Dd]onnées?|[Ii]ndisponible|[Ii]nterface|[Aa]déquation|[Ii]mpl[eé]ment|[Rr]eporting|[Mm]éthod|[Ee]xpert|[Tt]echnique|pas moi|[Mm]igration|client|middleware|business|corpo|use.case|modul|sp[ée]cif|backoffice|[Ii]nvestisseur|[Vv]enture [Cc]apitalist|[Tt]echno|e-[Bb]usiness|[Ii]ntelligence)">
			won Business Loto - http://www.isty-info.uvsq.fr/~fontaine/images/autres/corpo/business-loto.jpg
		</behaviour>

		<behaviour name="mute" action="mute" pattern="^%BOTNAME: mute">
			mute
		</behaviour>

		<behaviour name="pyramid" action="pyramid" pattern="^pyramid">
			pyramid
		</behaviour>

		<behaviour name="google" action="google" pattern="^google">
			google
		</behaviour>

		<behaviour name="dict" action="dict" pattern="^dict">
			wn
		</behaviour>

		<behaviour name="jargon" action="dict" pattern="^jargon">
			jargon
		</behaviour>

		<behaviour name="helo" action="login">
			Salut les loutres !
		</behaviour>

		<behaviour name="roulmain" action="timer"
				   pattern="(roul?main|cujl|CUJL|boulto|pro(qv|vq)o|bine)">
%ah ?
%ouais
		</behaviour>

		<behaviour name="ouca" action="timer"
				   pattern="[Oo][UÙuù]\s*[ÇçCc][Aa]">
%tic... tac...
%DANS TON CUL
		</behaviour>

		<behaviour name="pamie" action="say" pattern="pamie">
			P.A.M.I.E.
		</behaviour>

		<behaviour name="loutre" action="say" pattern="loutre">
			Halte au tourisme sexuel (DANS TON CUL) !
		</behaviour>

		<behaviour name="chinois" action="random" pattern="(chinois|dicton|proverbe)">
%DC1 Les dictons chinois sont toujours vrais
%DC2 Je préfère tout de même les proverbes chinois
%DC3 La lose est une constante de l'Univers
%DC4 Si tu veux des amis, ne leur dis pas qu'ils sont lourds
%DC5 Si tu tiens à tes bourses, ne t'approche pas de l'ours
%DC6 Si tu tiens a tes couilles, n'approche pas de l'eau qui bouille
%DC7 Le travail ne tue pas l'ennui.
%DC8 Demain est un autre jour chiant.
%DC9 Quand tu ne sais pas quoi dire, t'as qu'à sortir un proverbe chinois.
%DC10 Arrête de te faire chier, ça m'ennuie
%DC11 Je code, donc je lose
%DC12 Si t'es pas pédé, va te faire enculer
%DC13 Je pense, donc je fais un autre métier très vite
%DC14 Quand elle a la tête dans l'oreiller, tu n'entends pas la cochonne roter
%DC15 Deux paires de couilles au cul, ça rend nerveux
%DC16 Quand t'as plus de place, sauvegarde dans /dev/null, personne ne lira ton rapport de toute façon
%DC17 L'ours se lasse qu'on se le leche, c'est la lose.
%DC18 Les dictons chinois, même à base de plantigrade, ne sont JAMAIS pourraves.
%DC19 La proqvo au boulto, ça fait mal au bas du dos !
%DC20 Le mariage, c'est le meilleur moyen de divorcer.
%DC21 Le SOAP c'est comme le vin rouge, ça fait mal au cul. Surtout dans les douches.
%DC22 Quand y en a marre, y a du boulard !
		</behaviour>

		<behaviour name="JCVD" action="random" pattern="[Aa]ware">
%JCVD 1 Les plantes qui n'ont pas de mains et pas d'oreilles, elles sentent les choses, les vibrations. Elles sont plus aware que les autres species
%JCVD 2 Si on enlevait l'air, tous les oiseaux tomberaient par terre et les avions aussi
%JCVD 3 Le ciment est composé de protons et de neutrons
%JCVD 4 Manger des cacahuètes, it's a strong feeling !
%JCVD 5 Les cacahuètes, c'est le mouvement perpétuel à portée de l'homme
%JCVD 6 Entre toi et moi, il y a un produit qui s'apelle l'oxygène, alors tu vis. Mais si je tue l'oxygène comme sur la lune, tu meurs
%JCVD 7 EST-CE QU'IL Y A UNE LOI POUR L'AMOUR ?
%JCVD 8 La plus belle religion qu'on puisse avoir, c'est de rentrer en soi-même et de digérer l'essence de la vie, se digérer soi-même et produire à partir de ça sa propre religion : l'instinct.
%JCVD 9 Tout seul avec des gens ou bien tout seul ?
%JCVD 10 Même en français, on dit « feeling » ?
%JCVD 11 Les animaux parlent avec du feeling, mais ils n'ont pas de langages pour nos trouilles à nous
%JCVD 12 Là j'ai un chien en ce moment à côté de moi et je le caresse.
%JCVD 13 Le meilleur modèle qu'on peut avoir dans la vie c'est soi-même.
%JCVD 14 C'est très très beau d'avoir son propre moi-même
%JCVD 15 Parce qu'en vérité, la vérité, il n'y a pas de vérité. Hé hé, il faut me comprendre...
%JCVD 16 J'espère que c'est pas trop fort, mais c'est très profond ce que je vais dire : il y a deux vies.
%JCVD 17 On vit dans une réalité qu'on a créée et que j'appelle « illusion ».
%JCVD 18 La mort n'existe pas. La mort, c'est la seconde dimension ; la vraie dimension de la vie, c'est l'univers !
%JCVD 19 Et je sais que même si tu comprends pas ce que je dis, tu le comprends.
%JCVD 20 Ça veut dire quoi « devise » ? Je m'excuse, je suis un peu illétré pour ça.
%JCVD 21 De toutes façons, je suis éternel.
%JCVD 22 Il faut se recréer.. pour recréer... a better you.
%JCVD 23 T'es sympa comme mec. Au passage, il n'y a rien de concret.
%JCVD 24 Mais en vérité, les choses concrètes, oui, elles sont concrètes si on croit qu'elles sont concrètes !
%JCVD 25 L'eau, c'est quelque chose de concret mais pas concret.
%JCVD 26 C'est quelque chose qui a beaucoup de dimensions, l'eau.
%JCVD 27 Et en vérité, elle est simple si elle est simple
%JCVD 28 Je le sens, tu peux dire ce que tu veux.
%JCVD 29 Une personne s'appelle « Dieu », et l'autre s'appelle « être humain ». Et on est tous les deux la même chose au même niveau...
%JCVD 30 La femme sait pondre, c'est pour c,a qu'elle est supérieure à nous
		</behaviour>

		<behaviour name="suceur" action="random"
				   pattern="^%BOTNAME.*(suce|suck|pompe)">
%Je vais te décalotter la glotte
%Je vais te mettre du plomb dans les molaires
%Je vais te détartrer le larynx
%Je vais te repeindre l'oeusophage
%Je vais te faire gober un oeuf dur
%Je vais te bénir l'étouffe chretien
%Je vais te faire saliver la brosse a dents
		</behaviour>

		<behaviour name="branleur" action="random"
				   pattern="^%BOTNAME.*(branle|beurre|bite|masturb)">
%Hé mais va t'épiler le menhir
%Hé mais va te pignoler la gaufrette
%Hé mais va t'éffeuiller le baobab
%Hé mais va te dégoupiller la bombinette
%Hé mais va te dessouder le chalumeau
%Hé mais va te gourmander le capricieux
%Hé mais va te raboter le gourdin
%Hé mais va te faire loucher le cyclope
%Hé mais va dégager en touche
%Hé mais va te barbapaper le battonet
%Hé mais va te sucer la friandise
%Hé mais va te faire revenir la gousse a l'huile de coude
%Hé mais va border l'insomniaque
%Hé mais va zapper sur manuel
		</behaviour>

		<behaviour name="sodom" action="random"
				   pattern="^%BOTNAME.*(sodom|cul|CUL|rectum|RECTUM|fion|chie[rzs ]|caca|anus)">
%Je vais m'faire chocolater le kinder
%Je vais baguer le pigeon
%Je vais taper dans le tas de charbon
%Je vais me faire vernir le doigt sans ongle
%Je vais m'empapaouter son moule a cake
%Je vais me carameliser le p'tit sucre
%Je vais faire un swing au deuxieme trou
%Je vais terrasser la fosse septique
%Je vais balancer le bébé dans l'egout
%Je vais rouler a contre sens
%Je vais emmener bronzer le speleo
%Je vais embourber le 4x4
%Je vais mazouter le pingouin
%Je vais shouter dans la boite d'ovomaltine
%Je vais téléphoner aux congolais
%Je vais te défoncer la boite a cachous
%Je vais polir le petit chauve
%Je vais te bourrer le sac a dos
		</behaviour>

		<behaviour name="baise" action="random"
				   pattern="^%BOTNAME.*([Bb]aise|fuck|lit)">
%Je vais te zygomater le rigoleur
%Je vais te glisser l'accordeon dans le valseur
%Je vais te ratisser le bunker
%Je vais te brouter le green
%Je vais t'incendier la chambre froide
%Je vais te faisander le dindon
%Je vais te poncer le fagot
%Je vais te mettre mon petit lardon dans sa grosse frisee
%Je vais te gominer la touffe
%Je vais te glisser l'zakouski dans le blinis
%Je vais t'exploser le terrier
%Je vais bivouaquer dans la crevasse
%Je vais te faire mariner le mousse
%Je vais te faire crapahuter le flemmard
%Je vais t'apostropher le bavard
%Je vais te dégivrer le congelo
%Je vais te faire baver le mollusque
%Je vais te mettre la quenelle dans le shaker
%Je vais te mettre la piece dans le tronc
%Je vais te recurer la marmite
%Je vais te planter le javelot dans la moquette
%Je vais te cotontiger l'oreille sourde
%Je vais te meringuer la tumeur
%Je vais te regaler le petit
%Je vais m'desenclaver la peninsule
%Je vais te parmesaner les lasagnes
%Je vais me rechauffer les abats dans l'four a quenelles
%Je vais t'enguimauver la ruche
%Je vais te gloutonner la cressoniere
%Je vais te débroussailler la tranchee
%Je vais me faire une ligne de coquine
%Je vais te palucher le mou de veau
%Je vais faire sprinter l'unijambiste
%Je vais débarbouiller le pygmée
%Je vais nourrir la bouche sans dents
%Je vais écraser mon megot dans le gigot
%Je vais Masser le p'tit bossu
%Je vais te massicoter le feuillete
%Je vais cravacher le pur sang
%Je vais mettre le traineau dans le fjord
%Je vais nraquer le vigile
%Je vais t'ébouriffer le chignon
%Je vais débourrer le mammouth
		</behaviour>

		<behaviour name="c++" action="think" pattern="[Cc]\+\+">
			. o O ( jamais othar ne saura programmer en C++ ! )
		</behaviour>                       

		<behaviour name="seduire" action="think"
			pattern="(s[ée]duire|s[ée]duction|drague|guedra|rat(eau|au|[oô]))">
			vous conseille http://maleloria.org/pictures/dim_seduce.jpg
		</behaviour>                       

		<behaviour name="debian" action="think" pattern="debian">
			. o O ( jamais dim ne saura faire un paquet debian ! )
		</behaviour>                       

		<behaviour name="billard" action="think" pattern="[Bb]illard">
			. o O ( dim va encore prendre une branlée sur
			http://www.jippii.fr/fr/games/pasiworld/index-green.html ! )
		</behaviour>

		<behaviour name="openbsd" action="think" pattern="[Oo]pen[Bb][Ss][Dd]">
			. o O ( anon va encore se faire rootkiter sa Sparc/64... )
		</behaviour>

		<behaviour name="zope" action="think" pattern="[Zz]ope">
			. o O (zope: Grosse daube)
		</behaviour>

		<behaviour name="camarche" action="say"
			pattern="(chez moi|[çca] marche)">   
			http://www.chezmoicamarche.org/
		</behaviour>

		<behaviour name="quake3" action="think" pattern="[Qq]uake">
			http://dekpower.free.fr/stuff/funpics/whyPlayq3.jpg
		</behaviour>

		<behaviour name="quake" action="think" pattern="[Qq]uake">
			. o O ( jamais nmi ne saura jouer ! )
		</behaviour>

		<behaviour name="boulet" action="think"
		           pattern="^%BOTNAME.*(gueule|GUEULE|ferme|d[eé]gage)">
			. o O (mais quel boulet !)
		</behaviour>

		<behaviour name="reunion" action="say" pattern="[Rr][eé]union">
			« Les réunions, le dernier endroit à la mode pour pas bosser »
		</behaviour>

		<behaviour name="goudale" action="say" pattern="[Gg]oudale">
			La Goudale, ça emballe !
		</behaviour>

		<behaviour name="vendredi" action="say" pattern="[Vv]endredi">
%Tu vas pas aimer le vendredi...
%Le vendredi, c'est SODOMIE !
		</behaviour>

		<behaviour name="foutaises" action="say"
				   pattern="(boulot|travail|boss|taf[' ]|business|job|chef)">
			FOUTAISES
		</behaviour>

		<behaviour name="boitacoucou" action="answer"
				   pattern="[Aa]h? que coucou">
%COUCOU !
%MOUAAAAAAAAAAAAAAAAAAAAAA
		</behaviour>

		<behaviour name="coin" action="say"
				   pattern="[Cc][Oo][Ii][Nn]">
%Il a dit coin là ?
%TOUS DESSUS !
		</behaviour>

		<behaviour name="hop" action="say" pattern="hop op">
			poh
		</behaviour>

		<behaviour name="ranafout" action="say" pattern="ranafout">
			rana
		</behaviour>

		<behaviour name="rototo" action="random" pattern="rototo">
%burp
%Pfiou (oops)
%roooooh
%BRRAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHH
%BRRAAAaaaaAAAAAAaaaaAAAAAAAAAAAAAAAH
%BRRRRAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHHHHHHHHHHHHH
%*BROOOOOOOOAAAAAAAAAAAAAAAAAAAAAAAAARP*
		</behaviour>

		<behaviour name="tusors" action="say" pattern="tu sors">
http://www.isty-info.uvsq.fr/~fontaine/gli/sort.gif
		</behaviour>

		<behaviour name="dimbook" action="say" pattern="savoir vivre">
			http://maleloria.org/pictures/dim_book.jpg
		</behaviour>

		<behaviour name="nmibook" action="say" pattern="procto">
			http://maleloria.org/pictures/nmi_book.jpg
		</behaviour>

		<behaviour name="prout" action="say" pattern="pra?out" from="^dim">
			plic plic plic
		</behaviour>

		<behaviour name="plutot" action="answer"
		   pattern="[Pp]lut[oô]t">
			Ah non, Pluto c'est l'ami de Mickey !
		</behaviour>

		<behaviour name="gl" action="answer"
		   pattern="^%BOTNAME.*([Ff]iotte|pd|PD|[Oo]urs|[Cc]on[^f]|merde)">
			Grosse Loutre
		</behaviour>

		<behaviour name="tictac" action="say"
				   pattern="tic *\.* *tac *\.*">
			DANS TON CUL
		</behaviour>

		<behaviour name="presse" action="random" pattern="(revue|presse)">
%Presse: Après l'autopsie du cadavre de Jean M.. on reste un peu sur sa faim. (France-Soir)
%Presse: Le rapport de la gendarmerie révèle que Alain P... se serait suicidé lui-même.  (Nord Éclair)
%Presse: Le grand inventeur Louis Lumière s'est éteint. (L'Aurore)
%Presse: Le mystère de la femme coupée en morceaux reste entier. (Est-Éclair)
%Presse: Quand Honoré Gall s'est-il suicidé ? S'est-il donné la mort avant de se jeter à l'eau ? (Le Progrès)
%Presse: Très gravement brûlée, elle s'est éteinte pendant son transport à l'hôpital.  (Dauphiné Actualité)
		</behaviour>

		<behaviour name="pmignaval" action="random" pattern="fortune">
%Presse: Il lui bottait le derrière à tour de bras.
%Presse: Il abusait de la puissance de son sexe pour frapper son ex-épouse.
%Presse: C'est avant votre crime qu'il fallait éprouver des remords.
%Presse: À la lumière du doute qui obscurcit cette affaire, nous trancherons.
%Presse: C'est l'immobilisme qui conduit notre région au gouffre.
%Presse: Un tas de briques avait amorti sa chute.
%Presse: Des trous dans sa culotte laissaient entrevoir une famille pauvre.
%Presse: En raison de la chaleur, les musiciens ne porteront que la casquette de l'uniforme.
%Presse: L'individu n'était pas à prendre avec du pain sec.
%Presse: Les pieds de Damoclès.
%Presse: M. Jean C. remercie chaleureusement les personnes qui ont pris part au décès de son épouse.
%Presse: Elle venait d'enterrer son regrettable époux.
%Presse: Elle est décédée mortellement.
%Presse: Ses dernières paroles furent un silence farouche.
%Presse: L'église étant en travaux, ses obsèques ont été célébrées à la salle des fêtes.
%Presse: Tous portaient une crêpe à la boutonnière.
%Presse: Vers 18h30, la brigade canine arrive. Tout le monde est sur les dents. (La Voix du Nord, 25/02/1995)
%Presse: Le monte-en-l'air a finalement été appréhendé par une patrouille de voltigeurs.
%Presse: L'arrestation s'est opérée sans infusion de sang.
%Presse: Comme il s'agissait d'un sourd, la police dut pour l'interroger avoir recours à l'alphabet braille.
%Presse: Cet ancien haltérophile est accusé de vols à l'arraché.
%Presse: Il naquit dans la voiture que transportait sa mère à l'hopital.
%Presse: Issu de la France profonde, il fut quelque temps mineur. Puis il pustula à de plus hautes fonctions.
%Presse: Ayant debuté comme simple fossoyeur, il a, depuis, fait son trou.
%Presse: Depuis quelques mois, il emplit une secrétaire.
%Presse: Plus solide et moins infalsifiable, le nouveau permis de conduire est arrivé.  (l'Yonne Republicaine, 25/11/1994)
%Presse: Deux conducteurs étaient interpellés par les gendarmes en état d'ivresse.  (Var Matin, 13/07/1994)
%Presse: Détail navrant, cette personne avait déjà été victime l'an dernier d'un accident mortel.
%Presse: Il a été superficiellement égorgé au bras.
%Presse: Quand vous doublez un cycliste, laissez lui toujours la place de tomber.  (Le Republicain Lorrain, 14/08/1954)
%Presse: On faisait la queue, hier, en face du trou de la place de la Motte.  (La Montagne, 01/10/1995)
%Presse: Là-bas, la main de l'homme n'a jamais mis les pieds.
%Presse: Le climat et les eaux sont très humides.
%Presse: Les mosquées sont très nombreuses car les musulmans sont très chretiens.
%Presse: La conférence sur la constipation sera suivie d'un pot amical.  (Ouest-France, 12/08/1995)
%Presse: Ses hémorroïdes l'empêchait de fermer l'oeil.
%Presse: Il y aura un appareil de réanimation dernier cri.
%Presse: Chasse: Moins de cerfs, mais plus nombreux.  (Dernières nouvelles d'Alsace, 14/03/1993)
%Presse: Il remue la queue en cadence comme un soldat à la parade.
%Presse: C'est un chasseur, qui ne voulant pas rentrer bredouille, s'est tué...
%Presse: Tombola de la Société Bayonnaise des Amis des Oiseaux: le numéro 5963 gagne un fusil de chasse. (Sud-Ouest 24/11/1956)
%Presse: A aucun moment le Christ n'a baissé les bras.
%Presse: Il s'agit de financer les réparations du presbytère qui a brûlé le jour de la fête des Cendres.
%Presse: Le syndicat des inséminateurs fait appel à la vigueur de ses membres.
%Presse: Les brasseurs sont sous pression.
%Presse: Les kinés se sont massés contre les grilles de la préfecture.
%Presse: Visiblement, la victime a été étranglée à coups de couteau.
%Presse: A Montaigu, la fête du 1er mai aura lieu le 1er mai.
%Presse: C'est la foire des veaux et des porcs: venez nombreux !  (La Vie Correzienne, 09/05/1954)
%Presse: Il a applaudit a pleins poumons.
%Presse: Robinson harcèle son adversaire par de durs gauches des deux mains.  (La Resistance de l'Ouest, 11/12/1950)
%Presse: Journée du sang: s'inscrire à la boucherie.
%Presse: Parmi les nombreux lots: un chariot elevateur, un cric hydraulique, 500 kg de briques, une portée de porcelets, une paire de draps pour un lit a deux places,...
%Presse: Veritable Pub anglais : specialité couscous.
%Presse: Chien perdu: policier a poil ras et queue noire 
%Presse: Suite à ce succès, les acteurs se reproduiront devant vous.
%Presse: Une bicyclette ne peut avancer que mise en mouvement.  (L'Intransigeant,14/12/1906)
%Presse: Cette attaque frappe les hommes politiques mais aussi les honnêtes gens.
		</behaviour>

		<behaviour name="heidi" action="random" pattern="([Hh]eidi|[Kk]lum)">
%http://www.partyvibes.nl/wallpapers/02/klum.jpg
%http://10home.de/wsxq/star/heidi/heidi115.jpg
%http://10home.de/wsxq/star/heidi/heidi125.jpg
%http://10home.de/wsxq/star/heidi/heidi81.jpg
%http://www.fifty-five.com/pictures/swimsuit/HK200026.JPG
%http://www.fifty-five.com/pictures/swimsuit/HK200030.JPG
%http://www.fifty-five.com/pictures/swimsuit/HK200032.JPG
%http://www.fifty-five.com/pictures/swimsuit/HKART02.JPG
%http://www.fifty-five.com/pictures/swimsuit/HK2000W1.JPG
%http://www.fifty-five.com/pictures/swimsuit/HK200043.JPG
%http://www.fifty-five.com/pictures/swimsuit/HK2000W6.JPG
%http://www.fifty-five.com/pictures/swimsuit/HK200021.JPG
%http://www.fifty-five.com/pictures/swimsuit/HK200019.JPG
%http://www.fifty-five.com/pictures/swimsuit/HKGQ9909.JPG
%http://www.fifty-five.com/pictures/swimsuit/HKSI2018.JPG
%http://www.fifty-five.com/pictures/swimsuit/HKSI2019.JPG
%http://www.fifty-five.com/pictures/swimsuit/HKSI2003.JPG
%http://www.fifty-five.com/pictures/swimsuit/Beachscannew.jpg
%http://www.fifty-five.com/pictures/swimsuit/h1.jpg
%http://www.fifty-five.com/pictures/swimsuit/heidi_klum02_si99.jpg
%http://www.fifty-five.com/pictures/swimsuit/heidi4_big.jpg
%http://www.fifty-five.com/pictures/swimsuit/HKART06.JPG
%http://www.fifty-five.com/pictures/swimsuit/HKART07.JPG
%http://www.fifty-five.com/pictures/fashion/HKCAND38.JPG
%http://www.fifty-five.com/pictures/other/klum41.jpg
%http://www.fifty-five.com/pictures/other/HKSI2004.jpg
%http://www.fifty-five.com/pictures/other/HKSI2002.jpg
%http://www.fifty-five.com/pictures/sexy/hk19.jpg
%http://www.fifty-five.com/pictures/sexy/hk17.jpg
%http://www.fifty-five.com/pictures/sexy/hk212.jpg
%http://www.fifty-five.com/pictures/sexy/HK200016.JPG
%http://www.fifty-five.com/pictures/sexy/HK200020.JPG
%http://www.fifty-five.com/pictures/sexy/HK200038.JPG
%http://www.fifty-five.com/pictures/sexy/HKSTUF13.JPG
%http://www.fifty-five.com/pictures/sexy/HKGQ9910.JPG
%http://www.fifty-five.com/pictures/sexy/hk213.jpg
%http://www.fifty-five.com/pictures/sexy/hk84.jpg
%http://www.fifty-five.com/pictures/sexy/hk77.jpg
%http://www.fifty-five.com/pictures/sexy/hk78.jpg
%http://www.fifty-five.com/pictures/sexy/hk88.jpg
%http://www.fifty-five.com/pictures/sexy/HEIDILIF_jt1.JPG
%http://www.fifty-five.com/pictures/sexy/HK200013.JPG
%http://www.fifty-five.com/pictures/sexy/HK200010-tb.JPG
		</behaviour>

		<behaviour name="bonnasse" action="random"
		           pattern="(url|bonn?asse|salope|SA+L+O+P+E+|fifille|femelle|p[ée]tasse|pute|poufiasse|cochone|chienne|bougresse)">
%http://www.bullz-eye.com/models/
%http://bullz-eye.com/gnd/default.htm
http://krazor.com/images/j-l/Klum,_Heidi/80.jpg
%http://krazor.com/images/G-I/Hill,_Faith/02.jpg
%http://www.bullz-eye.com/Models/200201kathie/kathie-03.jpg
%http://www.bullz-eye.com/models/200105michelle/fmichelle-09.jpg
%http://www.bullz-eye.com/models/200105michelle/fmichelle-18.jpg
%http://www.bullz-eye.com/models/200011lisa1/lisa-03.jpg
%http://bullz-eye.com/gnd/200202annika/annika-05.jpg
%http://bullz-eye.com/gnd/200202annika/annika-30.jpg
%http://bullz-eye.com/gnd/200201karina/karina-10.jpg
%http://bullz-eye.com/gnd/200201karina/karina-16.jpg
%http://bullz-eye.com/gnd/200112esther/esther-17.jpg
%http://bullz-eye.com/gnd/200111marsha/marsha-04.jpg
%http://bullz-eye.com/gnd/200111lisa/lisa-05.jpg
%http://bullz-eye.com/gnd/200103michelle/michelle-04.jpg
%http://bullz-eye.com/gnd/200103michelle/michelle-27.jpg
%http://bullz-eye.com/gnd/200103michelle/michelle-33.jpg
%http://bullz-eye.com/gnd/200103michelle/michelle-34.jpg
%http://bullz-eye.com/gnd/200008alisa1/alisa1-13.jpg
%http://www.alisonarmitage.com/pictures/gilles/07.jpg
%http://www.sexyvictoria.com/samplegal/silvstedt01.jpg
%http://www.sexyvictoria.com/samplegal/silvstedt02.jpg
%http://www.sexyvictoria.com/samplegal/silvstedt03.jpg
%http://www.sexyvictoria.com/samplegal/silvstedt04.jpg
%http://www.sexyvictoria.com/samplegal/silvstedt05.jpg
%http://www.sexyvictoria.com/samplegal/silvstedt06.jpg
%http://www.sexyvictoria.com/samplegal/silvstedt07.jpg
%http://www.sexyvictoria.com/samplegal/silvstedt08.jpg
%http://www.sexyvictoria.com/samplegal/silvstedt09.jpg
%http://www.sexyvictoria.com/samplegal/silvstedt10.jpg
%http://www.sexyvictoria.com/samplegal/silvstedt11.jpg
%http://www.sexyvictoria.com/samplegal/silvstedt12.jpg
%http://www.mxdpi.com/gallery/ACTRESSES/Jaime_Pressly/004.jpg
%http://www.mxdpi.com/gallery/ACTRESSES/Jaime_Pressly/008.jpg
%http://www.mxdpi.com/gallery/ACTRESSES/Jaime_Pressly/013.jpg
%http://www.mxdpi.com/gallery/ACTRESSES/Jaime_Pressly/036.jpg
%http://www.mxdpi.com/gallery/ACTRESSES/Jaime_Pressly/044.jpg
%http://www.mxdpi.com/gallery/ACTRESSES/Jaime_Pressly/050.jpg
%http://www.mxdpi.com/gallery/ACTRESSES/Jaime_Pressly/064.jpg
%http://www.mxdpi.com/gallery/ACTRESSES/Jaime_Pressly/073.jpg
%http://www.mxdpi.com/gallery/ACTRESSES/Jaime_Pressly/133.jpg
%http://www.mxdpi.com/gallery/ACTRESSES/Jennifer_Lopez/002.jpg
%http://www.mxdpi.com/gallery/ACTRESSES/Jennifer_Lopez/008.jpg
%http://www.mxdpi.com/gallery/ACTRESSES/Rachael_Leigh_Cook/018.jpg
%http://www.mxdpi.com/gallery/ACTRESSES/Rachael_Leigh_Cook/063.jpg
%http://www.mxdpi.com/gallery/ACTRESSES/Neve_Campbell/002.jpg
%http://www.mxdpi.com/gallery/ACTRESSES/Neve_Campbell/014.jpg
%http://www.mxdpi.com/gallery/ACTRESSES/Neve_Campbell/029.jpg
%http://www.mxdpi.com/gallery/ACTRESSES/Neve_Campbell/049.jpg
%http://www.mxdpi.com/gallery/ACTRESSES/Neve_Campbell/054.jpg
%http://www.mxdpi.com/gallery/ACTRESSES/Neve_Campbell/063.jpg
%http://www.partyvibes.nl/wallpapers/02/klum.jpg
%http://10home.de/wsxq/star/heidi/heidi115.jpg
%http://10home.de/wsxq/star/heidi/heidi125.jpg
%http://10home.de/wsxq/star/heidi/heidi81.jpg
%http://www.partyvibes.nl/wallpapers/01/Kim_Smith.jpg
%http://www.artbyal.com/supermodelwalls/abaf1024/VeronicaVarekova2_1024x768.jpg
%http://www.allcelebrity.it/De_Grenet/08.jpg
%http://www.allcelebrity.it/Falchi/01.jpg
%http://www.allcelebrity.it/Fontana/13.jpg
%http://www.allcelebrity.it/Fontana/146.jpg
%http://www.allcelebrity.it/Galassi/101.jpg
%http://www.allcelebrity.it/Galassi/143.jpg
%http://www.allcelebrity.it/Marcuzzi/05.jpg
%http://www.allcelebrity.it/Massola/04.jpg
%http://www.allcelebrity.it/Merz/17.jpg
%http://www.allcelebrity.it/Miconi/09.jpg
%http://www.allcelebrity.it/Modigliani/03.jpg
		</behaviour>

		<behaviour name="shadok" action="random" pattern="(devise|shadok)">
%En essayant continuellement on finit par réussir. Donc plus ça rate, plus on a de chances que ça marche.
%Il vaut mieux pomper même s'il ne se passe rien que risquer qu'il se passe quelque chose de pire en ne pompant pas.
%Pour qu'il y ait le moins de mécontents possible il faut toujours taper sur les mêmes.
%Si ça fait mal c'est que ça fait du bien.
%Quand on ne sait pas où l'on va, il faut y aller !... et le plus vite possible.
%La plus grave maladie du cerveau, c'est de réfléchir.
%Pourquoi faire simple quand on peut faire compliqué ?
%S'il n'y a pas de solution c'est qu'il n'y a pas de problème.
%La vérite, c'est qu'il n'y a pas de vérité. Y compris celle-ci.
%Le bon sens est la chose du monde la mieux partagée... La connerie aussi.
%Il vaut mieux mobiliser son intelligence sur des conneries que mobiliser sa connerie sur des choses intelligentes.
%Avec un escalier prévu pour la montée, on réussit souvent à monter plus bas qu'on ne serait descendu avec un escalier prévu pour la descente.
%Je dis des choses tellement intelligentes que le plus souvent je comprends pas ce que je dis.
%Dans la marine, on fait pas grand chose, mais on le fait de bonne heure.
%Excusez-moi, j'ai oublié que j'étais amnésique !
%Je pompe donc je suis.
%Dans la Marine on salue tout ce qui bouge et on peint le reste.
		</behaviour>

		<behaviour name="bofh" action="random" pattern="(bofh|BOFH|excuse)">
%clock speed
%solar flares
%electromagnetic radiation from satellite debris
%static from nylon underwear
%static from plastic slide rules
%global warming
%poor power conditioning
%static buildup
%doppler effect
%hardware stress fractures
%magnetic interferance from money/credit cards
%dry joints on cable plug
%we're waiting for [the phone company] to fix that line
%sounds like a Windows problem, try calling Microsoft support
%temporary routing anomoly
%somebody was calculating pi on the server
%fat electrons in the lines
%excess surge protection
%floating point processor overflow
%divide-by-zero error
%POSIX complience problem
%monitor resolution too high
%improperly oriented keyboard
%network packets travelling uphill (use a carrier pigeon)
%Decreasing electron flux
%first Saturday after first full moon in Winter
%radiosity depletion
%CPU radiator broken
%It works the way the Wang did, what's the problem
%positron router malfunction
%cellular telephone interference
%techtonic stress
%pizeo-electric interference
%(l)user error
%working as designed
%dynamic software linking table corrupted
%heavy gravity fluctuation, move computer to floor rapidly
%secretary plugged hairdryer into UPS
%terrorist activities
%not enough memory, go get system upgrade
%interrupt configuration error
%spaghetti cable cause packet failure
%boss forgot system password
%bank holiday - system operating credits  not recharged
%virus attack, luser responsible
%waste water tank overflowed onto computer
%Complete Transient Lockout
%bad ether in the cables
%Bogon emissions
%Change in Earth's rotational speed
%Cosmic ray particles crashed through the hard disk platter
%Smell from unhygenic janitorial staff wrecked the tape heads
%Evil dogs hypnotized the night shift
%Plumber mistook routing panel for decorative wall fixture
%Electricians made popcorn in the power supply
%Groundskeepers stole the root password
%high pressure system failure
%failed trials, system needs redesigned
%system has been recalled
%not approved by the FCC
%need to wrap system in aluminum foil to fix problem
%not properly grounded, please bury computer
%CPU needs recalibration
%bit bucket overflow
%descramble code needed from software company
%only available on a need to know basis
%knot in cables caused data stream to become twisted and kinked
%nesting roaches shorted out the ether cable
%The file system is full of it
%Satan did it
%Daemons did it
%You're out of memory
%There isn't any problem
%Unoptimized hard drive
%Typo in the code
%Yes, yes, its called a desgin limitation
%Look, buddy:  Windows 3.1 IS A General Protection Fault.
%Support staff hung over, send aspirin and come back LATER.
%Someone is standing on the ethernet cable, causeing a kink in the cable
%Windows 95 undocumented "feature"
%Runt packets
%Password is too complex to decrypt
%Boss' kid fucked up the machine
%Electromagnetic energy loss
%Budget cuts
%Mouse chewed through power cable
%Stale file handle (next time use Tupperware(tm)!)
%Feature not yet implimented
%Internet outage
%Pentium FDIV bug
%Vendor no longer supports the product
%Small animal kamikaze attack on power supplies
%The vendor put the bug there.
%SIMM crosstalk.
%IRQ dropout
%Collapsed Backbone
%Power company testing new voltage spike (creation) equipment
%operators on strike due to broken coffee machine
%backup tape overwritten with copy of system manager's favourite CD
%UPS interrupted the server's power
%The electrician didn't know what the yellow cable was so he yanked the ethernet out.
%The keyboard isn't plugged in
%The air conditioning water supply pipe ruptured over the machine room
%The electricity substation in the car park blew up.
%The rolling stones concert down the road caused a brown out
%The salesman drove over the CPU board.
%Root nameservers are out of sync
%electro-magnetic pulses from French above ground nuke testing.
%your keyboard's space bar is generating spurious keycodes.
%the real ttys became pseudo ttys and vice-versa.
%the printer thinks its a router.
%the router thinks its a printer.
%we just switched to FDDI.
%halon system went off and killed the operators.
%user to computer ratio too high.
%user to computer ration too low.
%Sticky bits on disk.
%Power Company having EMP problems with their reactor
%The ring needs another token
%SCSI Chain overterminated
%because of network lag due to too many people playing deathmatch
%Daemons loose in system.
%BNC (brain not  (user brain not connected)
%UBNC (user brain not connected)
%LBNC (luser brain not connected)
%disks spinning backwards - toggle the hemisphere jumper.
%new guy cross-connected phone lines with ac power bus.
%had to use hammer to free stuck disk drive heads.
%Too few computrons available.
%Flat tire on station wagon with tapes.  ("Never underestimate the bandwidth of a station wagon full of tapes hurling down the highway" Andrew S. Tanenbaum) 
%Communications satellite used by the military for star wars.
%Party-bug in the Aloha protocol.
%Insert coin for new game
%Dew on the telephone lines.
%Arcserve crashed the server again.
%Some one needed the powerstrip, so they pulled the switch plug.
%My pony-tail hit the on/off switch on the power strip.
%Big to little endian conversion error
%You can tune a file system, but you can't tune a fish (from most tunefs man pages)
%Dumb terminal
%Zombie processes haunting the computer
%Incorrect time syncronization
%Defunct processes
%Stubborn processes
%non-redundant fan failure 
%monitor VLF leakage
%bugs in the RAID
%no "any" key on keyboard
%root rot
%Backbone Scoliosis
%mv /pub/lunch
%excessive collisions and not enough packet ambulances
%le0: no carrier: transceiver cable problem?
%broadcast packets on wrong frequency
%popper unable to process jumbo kernel
%NOTICE: alloc: /dev/null: filesystem full
%pseudo-user on a pseudo-terminal
%Recursive traversal of loopback mount points
%Backbone adjustment
%OS swapped to disk
%vapors from evaporating sticky-note adhesives
%sticktion
%short leg on process table
%multicasts on broken packets
%ether leak
%Atilla the Hub
%endothermal recalibration
%filesystem not big enough for Jumbo Kernel Patch
%loop found in loop in redundant loopback
%system consumed all the paper for paging
%permission denied
%Reformatting Page. Wait...
%SCSI's too wide.
%Proprietary Information.
%Just type 'mv * /dev/null'.
%runaway cat on system.
%We only support a 1200 bps connection.
%Me no internet, only janitor, me just wax floors.
%I'm sorry a pentium won't do, you need an SGI to connect with us.
%Post-it Note Sludge leaked into the monitor.
%the curls in your keyboard cord are losing electricity.
%The monitor needs another box of pixels.
%RPC_PMAP_FAILURE
%kernel panic: write-only-memory (/dev/wom0) capacity exceeded.
%Write-only-memory subsystem too slow for this machine. Contact your local dealer.
%Quantum dynamics are affecting the transistors
%Police are examining all internet packets in the search for a narco-net-traficer
%We are currently trying a new concept of using a live mouse.  Unfortuantely, one has yet to survive being hooked up to the computer.....please bear with us.
%We didn't pay the Internet bill and it's been cut off.
%Lightning strikes.
%Of course it doesn't work. We've performed a software upgrade.
%Change your language to Finnish.
%Flourescent lights are generating negative ions. If turning them off doesn't work, take them out and put tin foil on the ends.
%High nuclear activity in your area.
%The MGs ran out of gas.
%The UPS doesn't have a battery backup.
%Recursivity.  Call back if it happens again.
%Someone thought The Big Red Button was a light switch.
%The mainframe needs to rest.
%Try calling the Internet's head office -- it's in the book.
%The lines are all busy (busied out, that is -- why let them in to begin with?).
%A star wars satellite accidently blew up the WAN.
%Fatal error right in front of screen
%wrong polarity of neutron flow
%Lusers learning curve appears to be fractal
%We had to turn off that service to comply with the CDA Bill.
%Ionisation from the air-conditioning
%TCP/IP UDP alarm threshold is set too low.
%Someone is broadcasting pigmy packets and the router dosn't know how to deal with them.
%The new frame relay network hasn't bedded down the software loop transmitter yet. 
%Fanout dropping voltage too much, try cutting some of those little traces
%Plate voltage too low on demodulator tube
%CPU needs bearings repacked
%Too many little pins on CPU confusing it, bend back and forth until 10-20% are neatly removed. Do _not_ leave metal bits visible!
%Software uses US measurements, but the OS is in metric...
%The computer fletely, mouse and all.
%Too much radiation coming from the soil.
%Program load too heavy for processor to lift.
%Processes running slowly due to weak power supply
%Our ISP is having {switching,routing,SMDS,frame relay} problems
%We've run out of licenses
%Interference from lunar radiation
%Standing room only on the bus.
%You need to install an RTFM interface.
%That would be because the software doesn't work.
%That's easy to fix, but I can't be bothered.
%Someone's tie is caught in the printer, and if anything else gets printed, he'll be in it too.
%We're upgrading /dev/null
%The Usenet news is out of date
%Our POP server was kidnapped by a weasel.
%It's stuck in the Web.
%Your modem doesn't speak English.
%The mouse escaped.
%All of the packets are empty.
%The UPS is on strike.
%Neutrino overload on the nameserver
%Melting hard drives
%Someone has messed up the kernel pointers
%The kernel license has expired
%The cord jumped over and hit the power switch.
%Bit rot
%The Dilithium Cyrstals need to be rotated.
%The static electricity routing is acting up...
%Traceroute says that there is a routing problem in the backbone.  It's not our problem.
%The co-locator cannot verify the frame-relay gateway to the ISDN server.
%Lawn mower blade in your fan need sharpening
%Electrons on a bender
%Telecommunications is upgrading. 
%Telecommunications is downgrading.
%Telecommunications is downshifting.
%Hard drive sleeping. Let it wake up on it's own...
%Interference between the keyboard and the chair.
%The CPU has shifted, and become decentralized.
%Due to the CDA, we no longer have a root account.
%We ran out of dial tone and we're and waiting for the phone company to deliver another bottle.
%You must've hit the wrong anykey.
%PCMCIA slave driver
%The Token fell out of the ring. Call us when you find it.
%The hardware bus needs a new token.
%Too many interrupts
%Not enough interrupts
%The data on your hard drive is out of balance.
%Digital Manipulator exceeding velocity parameters
%appears to be a Slow/Narrow SCSI-0 Interface problem
%microelectronic Riemannian curved-space fault in write-only file system
%fractal radiation jamming the backbone
%routing problems on the neural net
%IRQ-problems with the Un-Interruptable-Power-Supply
%CPU-angle has to be adjusted because of vibrations coming from the nearby road
%emissions from GSM-phones
%CD-ROM server needs recalibration
%firewall needs cooling
%asynchronous inode failure
%transient bus protocol violation
%incompatible bit-registration operators
%your process is not ISO 9000 compliant
%You need to upgrade your VESA local bus to a MasterCard local bus.
%The recent proliferation of Nuclear Testing
%Elves on strike. (Why do they call EMAG Elf Magic)
%Internet exceeded Luser level, please wait until a luser logs off before attempting to log back on.
%Your EMAIL is now being delivered by the USPS.
%Your computer hasn't been returning all the bits it gets from the Internet.
%You've been infected by the Telescoping Hubble virus.
%Scheduled global CPU outage
%processor has processed too many intructions.
%packets were eaten by the terminator
%The POP server is out of Coke
%Fiber optics caused gas main leak
%Server depressed, needs Prozak
%quatnum decoherence
%those damn racoons!
%suboptimal routing experience
%A plumber is needed, the network drain is clogged
%50% of the manual is in .pdf readme files
%the AA battery in the wallclock sends magnetic interference
%the xy axis in the trackball is coordinated with the summer soltice
%the butane lighter causes the pincushioning
%old inkjet cartridges emanate barium-based fumes
%manager in the cable duct
%HTTPD Error 666 : BOFH was here
%HTTPD Error 4004 : very old Intel cpu - insufficient processing power
%Network failure -  call NBC
%Having to manually track the satellite.
%The rubber band broke
%We're on Token Ring, and it looks like the token got loose.
%Stray Alpha Particles from memory packaging caused Hard Memory Error on Server.
%paradigm shift...without a clutch
%PEBKAC (Problem Exists Between Keyboard And Chair)
%The cables are not the same length.
%Second-sytem effect.
%Chewing gum on /dev/sd3c
%Boredom in the Kernel.
%struck by the Good Times virus
%YOU HAVE AN I/O ERROR -> Incompetent Operator error
%Your parity check is overdrawn and you're out of cache.
%Plasma conduit breach
%Out of cards on drive D:
%Sand fleas eating the Internet cables
%parallel processors running perpendicular today
%ATM cell has no roaming feature turned on, notebooks can't connect
%Webmasters kidnapped by evil cult.
%Failure to adjust for daylight savings time.
%Virus transmitted from computer to sysadmins.
%Virus due to computers having unsafe sex.
%Incorrectly configured static routes on the corerouters.
%Forced to support NT servers; sysadmins quit.
%Suspicious pointer corrupted virtual machine
%Its the InterNIC's fault.
%Root name servers corrupted.
%Budget cuts forced us to sell all the power cords for the servers.
%Someone hooked the twisted pair wires into the answering machine.
%Operators killed by year 2000 bug bite.
%We've picked COBOL as the language of choice.
%Operators killed when huge stack of backup tapes fell over.
%Robotic tape changer mistook operator's tie for a backup tape.
%t's an ID-10-T error
%Dyslexics retyping hosts file on servers
%The Internet is being scanned for viruses.
%Your computer's union contract is set to expire at midnight.
%Bad user karma.
%/dev/clue was linked to /dev/null
%Increased sunspot activity.
%It's union rules. There's nothing we can do about it. Sorry.
%Interferance from the Van Allen Belt.
%Jupiter is aligned with Mars.
%Redundant ACLs. 
%Mail server hit by UniSpammer.
%T-1's congested due to porn traffic to the news server.
%Data for intranet got routed through the extranet and landed on the internet.
%What you are experiencing is not a problem; it is an undocumented feature.
%Secretary sent chain letter to all 5000 employees.
%Sysadmin accidentally destroyed pager with a large hammer.
%Bad cafeteria food landed all the sysadmins in the hospital.
%Route flapping at the NAP.
%Computers under water due to SYN flooding.
%The vulcan-death-grip ping has been applied.
%Electrical conduits in machine room are melting.
%Traffic jam on the Information Superhighway.
%Radial Telemetry Infiltration
%Cow-tippers tipped a cow onto the server.
%tachyon emissions overloading the system
%Maintence window broken
%Computer room being moved.  Our systems are down for the weekend.
%Sysadmins busy fighting SPAM.
%Repeated reboots of the system failed to solve problem
%Domain controler not responding
%Someone stole your IP address, call the Internet detectives.
%operation failed because: there is no message for this error (#1014)
%stop bit received
%internet is needed to catch the etherbunny
%network down, IP packets delivered via UPS
%Firmware update in the coffee machine
%Mouse has out-of-cheese-error
%Borg implants are failing
%Borg nanites have infested the server
%error: one bad user found in front of screen
%Please state the nature of the technical emergency
%Internet shut down due to maintainance
%Daemon escaped from pentagram
%crop circles in the corn shell
%sticky bit has come loose
%Hot Java has gone cold
%Cache miss - please take better aim next time
%Hash table has woodworm
%Trojan horse ran out of hay
%Zombie processess detected, machine is haunted.
%overflow error in /dev/null
%Browser's cookie is corrupted -- someone's been nibbling on it.
%Mailer-daemon is busy burning your message in hell.
%vi needs to be upgraded to vii
		</behaviour>

		<behaviour name="sanantonio" action="random"
			pattern="([Bb][eé]ru|[Ss]ana|[Aa]ntoine|[Aa]ntonio|[Hh]énaurme)">
%San Antonio: L'échec, c'est la réussite du con.
%San Antonio: Prenez l'habitude de bien baiser votre femme, vous lui éviterez le dérangement d'aller se faire baiser par vos copains.
%San Antonio: Les hommes sont empêtrés dans leurs fantasmes comme des spaghettis dans du parmesan fondu.
%San Antonio: L'existence, c'est comme ça : tu fais des gosses et tu attends qu'ils s'en aillent. Et puis, quand ils sont partis, tu attends qu'ils reviennent.
%San Antonio: Nous autres, poètes, quand nous avons de la peine, au lieu de la chasser, nous lui cherchons un titre.
%San Antonio: Une femme aux cheveux châtains est une blonde modeste.
%San Antonio: La science est un train que le mécanicien ne peut arrêter.
%San Antonio: Pour l'homme, le mensonge est un outil ; pour la femme, une parure.
%San Antonio: C'est à la culotte de ses filles qu'on juge un pays.
%San Antonio: Les Français qui croisent une étrangère lui regardent successivement les jambes, les yeux et l'annulaire gauche.
%San Antonio: Le passé est un oeuf sans germe : tout ce qu'on peut en tirer c'est une omelette.
%San Antonio: Parler est le plus moche moyen de communication. L'homme ne s'exprime pleinement que par ses silences.
%San Antonio: La seule satisfaction réelle de l'homme, c'est de provoquer la jouissance de la femme.
%San Antonio: Il faut beaucoup de talent pour faire rire avec des mots. Mais il faut du génie pour amuser avec des points de suspension...
%San Antonio: Les hommes s'imaginent faire des enfants, alors qu'ils ne font que d'autres hommes.
%San Antonio: Y a des tas d'endroits sur la planète, je comprends pas que des gens les habitent, quand bien même ils y sont nés.
%San Antonio: Le merveilleux, on s'y habitue plus vite qu'à des godasses trop courtes.
%San Antonio: Ce qui console de la mort des amis, c'est qu'ils laissent des veuves.
%San Antonio: Il ne faut jamais se foutre de la gueule des riches car on ne sait pas ce qu'on peut devenir.
%San Antonio: J'aime profondément qui j'aime sans détester pour autant qui je n'aime pas.
%San Antonio: On cesse toujours d'être le numéro 1 mais on ne cesse jamais d'avoir été le premier.
%San Antonio: Moi, quand j'ai un message à expédier, je n'écris pas un livre : je vais à la poste.
%San Antonio: Les femmes, c'est comme les artichauts : le coeur est sous les poils.
%San Antonio: Je suis un obsédé de l'obsession sexuelle. Mais il est inutile de me féliciter : j'ai également des défauts.
		</behaviour>

	</behaviours>
</manderlbot>
