Source: manderlbot
Section: net
Priority: optional
Maintainer: Julien Danjou <acid@debian.org>
Build-Depends-Indep: debhelper (>> 3.0.0), erlang, lyx, docbook-to-man
Standards-Version: 3.6.1.0

Package: manderlbot
Architecture: all
Depends: erlang (>= 8.2-1), libxmerl-erlang (>= 0.15-1)
Description: An IRC bot, written in erlang
 Manderlbot is an IRC bot with XML configuration file, allowing you to launch
 it on several servers and channels at once, each channel will have its own
 set of behaviours.
 .
 Behaviours are generics, and you can easily make your own set. If you want
 some not-already-implemented generic behaviour, you'll have to code some
 erlang !
